body {
    padding:20px 120px;
    vertical-align:middle;
    background-image: url(http://static.wixstatic.com/media/6a679d_d02e77ad41e1242b57397ca46c1e57e6.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid{
    background-color:#991F00;
}

.navbar-inverse{
    color:#801900;
}

/*
    select all the th elements inside the table head and spaces them out
*/
.spaced-table>thead>tr>th{
    padding:20px 20px;
}

/*
    select al the th elements inside the table body and spaces them out
*/
.spaced-table>tbody>tr>td{
    padding: 40px 20px;
    vertical-align:middle;
}